.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.launcher,
.wordpress{
    position: relative;
    background-color: #d0cfcf80;
    border-radius: 2rem;
    width: 23.75rem ;
    height: 29.75rem;
    padding: 2rem;
    transition: 250ms ease-in-out;
    display: grid;
    align-items: center;
    align-content: center;
}

.launcher:hover,
.wordpress:hover{
    background-color: var(--color-neutraltext);
    opacity: 1;
    width: 23.75rem ;
    height: 29.75rem;
    transform: translateY(-0.6rem);
}
.alink{
    color: var(--color-primary);
    font-size: var(--fs-titlev2);
    text-decoration: underline;
    transition: 250ms linear;
    cursor: pointer;

}
.alink:hover,
.alink:active{
    color: var(--color-secondary-red);
}
.alink:visited{
    color: var(--color-primary);
}

.cardstitle{
    color: var(--color-primary);
    font-size: var(--fs-titlev2);
}
.card{
    position: absolute;
    inset: 0;
    width: 23.75rem ;
    opacity: 0;
}
.card:hover{
    opacity: 1;
}
.cardstext{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color:var(--color-secondary-red);
}

.subtitle{
    font-size: var(--fs-bodytitle);
    padding: 2rem;
}
.ulistsec{
    margin: auto;
    width: 57.813rem;
}
.ulist{ 
    background-color: #d9d9d910;
    color: var(--color-neutral) ;
    display: grid;
    justify-content: center;
    align-content: center;
    list-style: none;
    line-height: 2rem;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-semibold);
    padding: 2rem;
    list-style: inside;
    height: 23.216rem;
    width: 57.813rem;
    border-radius: 20px;
}

a{
    text-decoration: underline;
}



.controls{
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding: 2rem;
}

